<!-- <div class="postTournament">
<h1>Post Tournament</h1>
<select class="tournamentSelect" name="tournamentSeries">
  <option disabled selected="">Tournament Series</option>
  <option value="value1">Value 1</option>
  <option value="value2">Value 2</option>
  <option value="value3">Value 3</option>
</select>
<select class="eventSelect" name="eventNumber">
  <option disabled selected="">Event No.</option>
  <option value="value1">Value 1</option>
  <option value="value2">Value 2</option>
  <option value="value3">Value 3</option>
</select>
<input type="number" name="percentageOffered" placeholder="Percentage Offered">
<input type="checkbox" name="privateCheckbox">
<input type="button" name="postTournament" value="Post">
</div -->
{{post-tourny}}

{{outlet}}
